// Global variables that can be reused everywhere
$WHITE: #F4F4F4;
$STONE-MOON: #E4E5D9;
$STONE-GRAY: #4D5156;
$DARK-GRAY: #3E3C39;
$BLACK: #101010;
$RED: #D6001E;
$CORAL: #FF6666;
$ORANGE: #F57D23;
$YELLOWISH-ORANGE: #F2A100;
$YELLOW: #F8C718;
$LIGHT-LIME: #B7D425;
$BRIGHT-LIME: #94BC0E;
$DARK-AZUR: #007ACC;
$BLUE: #0056B3;
$DARK-BLUE: #0A2441;
$DARK-ROYAL_BLUE: #0E3E9A;
$ROYAL-BLUE: #506CEF;