// Global variables that can be reused everywhere
$WHITE: #f4f4f4;
$STONE-MOON: #e4e5d9;
$STONE-GRAY: #4d5156;
$DARK-GRAY: #3e3c39;
$BLACK: #101010;
$RED: #d6001e;
$CORAL: #ff6666;
$ORANGE: #f57d23;
$YELLOWISH-ORANGE: #f2a100;
$YELLOW: #f8c718;
$LIGHT-LIME: #b7d425;
$BRIGHT-LIME: #94bc0e;
$DARK-AZUR: #007acc;
$BLUE: #0056b3;
$DARK-BLUE: #0a2441;
$DARK-ROYAL_BLUE: #0e3e9a;
$ROYAL-BLUE: #506cef;
