// Global variables that can be reused everywhere
$WHITE: #f4f4f4;
$STONE-GRAY: #4D5156;
$DARK-GRAY: #3E3C39;
$BLACK: #101010;
$RED: #D6001E;
$CORAL: #FF6666;
$ORANGE: #F57D23;
$DARK-AZUR: #007acc;
$BLUE: #0056B3;