@use 'colors';
@use 'sass:color';
@use 'sass:math';
@use 'LocationBackground';

.results-screen {
	.results-background {
		@include LocationBackground.location-background;
	}

	.results-bar {
		position: absolute;
		left: calc((1 + math.sqrt(5)) / 2 - 1) * 100%;
		top: 50%;
		transform: translateY(-50%);
		width: 30%;
		min-height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 32px;
		border-radius: 32px;
		background-color: color.adjust(colors.$BLACK, $alpha: -0.25);

		h1 {
			text-align: center;
		}

		button {
			transition: 0.3s ease-in-out;
			padding: 16px;
			border-radius: 16px;
			border: none;
			font-weight: bold;
			background-color: colors.$BLUE;
			color: inherit;
			font-size: inherit;

			&:hover {
				background-color: colors.$DARK-AZUR;
			}
		}
	}

	.game-character {
		transition:
			opacity 1s ease-in-out,
			left 1s ease-in-out,
			filter 0.3s ease-in-out;
		position: absolute;
		right: calc((1 + math.sqrt(5)) / 2 - 1) * 100%;
		bottom: 0;
		height: 100vh;
		z-index: -1;
		transform: translateX(-50%);
		cursor: pointer;

		&.hidden-character {
			opacity: 0;
		}

		&.speaker {
			filter: drop-shadow(
				0 0 25px color.scale(colors.$WHITE, $alpha: -10%)
			);
		}
	}

	.game-button {
		transition: color 0.3s ease-in-out;
        border: 2px solid colors.$WHITE;
        background: color.scale(colors.$BLACK, $alpha: -25%);
        cursor: pointer;
        font-size: inherit;

        &:hover {
            background-color: color.scale(colors.$DARK-GRAY, $alpha: -25%);
        }

		&.home-button {
			position: absolute;
			top: 5%;
			left: 5%;
		}
	}
}
