* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.сontainer {
  background-image: url('../assets/location_house.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Центральный контейнер
.center-container {
  background-color: rgba(0, 0, 112, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }

  .statement {
    margin-bottom: 15px;

    label {
      margin-left: 10px;
    }
  }

  .btn-container {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;

    &:hover {
      background-color: #0056b3;
    }
  }
}
