@use 'sass:color';
@use 'colors';

.frame-renderer {
	* {
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		color: colors.$WHITE;
	}

	button {
		padding: 16px;
		border-radius: 32px;
	}

	.game-dialogue-box {
		font-size: 28px;
		font-family: JBRMono, monospace;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		width: 70vw;
		vertical-align: bottom;

		& .speaker-name {
			margin-left: 0;
			padding: 8px 64px;
			width: fit-content;
			background: color.scale(colors.$BLUE, $alpha: -25%);
			border-radius: 16px 16px 0 0;
			border: 2px solid colors.$WHITE;
			border-bottom: none;
			font-size: smaller;
		}

		& .dialogue-text {
			border: 2px solid colors.$WHITE;
			font-size: inherit;
			background-color: color.scale(colors.$BLACK, $alpha: -25%);
			padding: 32px;
			border-radius: 0 32px 32px;
			overflow: hidden;
			height: 6em;
		}
	}

	.game-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		z-index: -2;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto; /* Default: stretch width */
			height: 100%;

			@media (aspect-ratio >= 16/9) {
				/* Wider aspect ratios */
				height: auto;
				width: 100%;
			}
		}
	}

	.game-character {
		transition:
			opacity 1s ease-in-out,
			left 1s ease-in-out,
			filter 0.3s ease-in-out;
		position: absolute;
		bottom: 0;
		height: 100vh;
		z-index: -1;
		transform: translateX(-50%);
		cursor: pointer;

		&:hover {
			filter: blur(3px);
		}

		&.hidden-character {
			opacity: 0;
		}

		&.speaker {
			filter: drop-shadow(
				0 0 25px color.scale(colors.$WHITE, $alpha: -10%)
			);
		}
	}

	.game-button {
		transition: color 0.3s ease-in-out;
		border: 2px solid colors.$WHITE;
		background: color.scale(colors.$BLACK, $alpha: -25%);
		cursor: pointer;
		font-size: smaller;

		&:hover {
			background-color: color.scale(colors.$DARK-GRAY, $alpha: -25%);
		}

		&.give-up-button {
			color: colors.$CORAL;
		}
	}

	.next-frame-button {
		font-size: 28px;
		position: absolute;
		right: 5%;
		bottom: 5%;
	}

	.top-button-bar {
		font-size: 28px;
		position: absolute;
		top: 5%;
		right: 5%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}

	.game-knowledge-window {
		font-size: 28px;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		width: 75vw;
		height: 75vh;
		background-color: color.adjust(colors.$BLACK, $alpha: -0.2);
		color: colors.$WHITE;
		padding: 20px;
		border-radius: 10px;
		backdrop-filter: blur(10px);
		box-shadow: 0 4px 10px color.adjust(colors.$BLACK, $alpha: -0.5);
		z-index: 10;

		.knowledge-header {
			display: flex;
			justify-content: right;
			gap: 32px;
			margin-bottom: 10px;

			button {
				font-size: smaller;
				padding: 10px 20px;
				border: none;
				background: colors.$DARK-GRAY;
				color: colors.$WHITE;
				border-radius: 5px;
				cursor: pointer;

				&.active {
					background: colors.$DARK-AZUR;
				}

				&.close-button {
					background: colors.$RED;
				}
			}
		}

		.knowledge-content {
			background: color.adjust(colors.$DARK-GRAY, $alpha: -0.5);
			border: 1px solid colors.$STONE-GRAY;
			border-radius: 5px;
			padding: 32px;
			overflow-y: auto;
			height: 80%;

			p {
				text-align: center;
				color: colors.$WHITE;
			}

			ul {
				list-style: none;
				padding: 0;

				li {
					display: block;
					margin-bottom: 10px;
					border: 2px solid colors.$WHITE;
					text-align: left;
					padding: 24px;

					p {
						color: colors.$WHITE;
						font-size: smaller;
					}
				}
			}
		}
	}
}
