@use 'colors';
@use 'sass:color';

.health-bar {
	$HEALTH_BG: color.adjust(colors.$BLACK, $alpha: -0.25);
	$HEALTH_BORDER: colors.$WHITE;
	$HEALTH_UNDEF: colors.$DARK-AZUR;
	$HEALTH_HIGH: colors.$BRIGHT-LIME;
	$HEALTH_MEDIUM: colors.$YELLOWISH-ORANGE;
	$HEALTH_LOW: colors.$RED;

	transition: all 1s ease-in-out;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 192px;
	height: 32px;
	background: $HEALTH_BG;
	box-shadow: 0 0 10px 10px $HEALTH_BG;
	border: 2px solid $HEALTH_BORDER;
	border-radius: 4px;

	&.hidden-health-bar {
		z-index: 100;
		left: -5%;
		transform: translateX(-100%);
	}

	& > .health-bar-fill {
		transition: all 0.3s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $HEALTH_UNDEF;

		&.health-high {
			background: $HEALTH_HIGH;
		}

		&.health-medium {
			background: $HEALTH_MEDIUM;
		}

		&.health-low {
			animation: health-flash 1s ease-in-out infinite alternate;
			background: $HEALTH_LOW;
		}

		@keyframes health-flash {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0.75;
			}
		}
	}
}
